*{
    margin: 0%;
    padding: 0%;
}
#logo{
    max-width: 150;
    height: auto;
}
#example-image{
    max-width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header{
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 10px;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
main{
    padding: 1rem;
}
footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}